:root {
  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);
  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
  --font-size: 15px;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-700: 700;
}

body {
  font-family: "League Spartan", sans-serif;
  background-image: url(./images/bg-pattern-top-mobile.svg),
    url(./images/bg-pattern-bottom-mobile.svg);
  background-position: left top, right bottom;
  background-repeat: no-repeat, no-repeat;
}

main {
  display: flex;
  flex-direction: column;
}

/* First - Text Area */
.text-area {
  padding: 20px;
  text-align: center;
  margin: 10px;
}

.text-area h1 {
  color: hsl(300, 43%, 22%);
  font-size: 40px;
  font-weight: 700;
}

.text-area p {
  color: hsl(303, 10%, 53%);
  line-height: 1.5;
  font-size: 18px;
  font-weight: 500;
}

/* Second - Rating area with stars */
.rating-area {
  margin: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.rating-box {
  background-color: hsl(300, 24%, 96%);
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.rating-box strong {
  color: hsl(300, 43%, 22%);
  font-weight: 700;
  display: inline-block;
  margin: 10px;
}

.rating-box-stars {
  background-image: url("./images/icon-star.svg");
  background-repeat: space;
  height: 16px;
  width: 101px;
  margin: 10px;
  display: inline-block;
}

/* Third - Comment Area */
.comment-area {
  margin: 10px;
}

.comment-box {
  background-color: hsl(300, 43%, 22%);
  margin: 20px;
  padding: 30px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 70px 1fr;
  grid-template-rows: 70px 1fr;
}

.comment-box-picture {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  align-items: center;
}

.comment-box-picture img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.comment-box-name {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.comment-area strong {
  color: hsl(0, 0%, 100%);
  line-height: 1.5;
  font-weight: 700;
}

.comment-area span {
  color: hsl(333, 80%, 67%);
  font-weight: 500;
}

.comment-area p {
  grid-area: 2 / 1 / 3 / 3;
  color: hsl(0, 0%, 100%);
  line-height: 1.5;
  font-weight: 400;
}

/* Styles for screens below 720px width */
@media screen and (min-width: 720px) {
  body {
    background-image: url(./images/bg-pattern-top-desktop.svg),
      url(./images/bg-pattern-bottom-desktop.svg);
    background-position: left top, right bottom;
    background-repeat: no-repeat, no-repeat;
  }

  main {
    max-width: 1280px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 400px 1fr;
  }

  /* First - Text Area */
  .text-area {
    grid-area: 1 / 1 / 2 / 2;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
  }

  .text-area h1 {
    max-width: 300px;
  }

  .text-area p {
    max-width: 450px;
  }

  /* Second - Rating area with stars */
  .rating-area {
    grid-area: 1 / 2 / 2 / 3;
    justify-content: center;
  }

  .rating-box {
    flex-direction: row;
    width: 400px;
  }

  #rating-box-1 {
    align-self: flex-start;
  }

  #rating-box-2 {
    align-self: center;
  }

  #rating-box-3 {
    align-self: flex-end;
  }

  /* Third - Comment Area */
  .comment-area {
    grid-area: 2 / 1 / 3 / 3;
    display: flex;
    align-items: center;
    height: 100%;
  }

  #comment-box-1 {
    align-self: flex-start;
  }

  #comment-box-2 {
    align-self: center;
  }

  #comment-box-3 {
    align-self: flex-end;
  }
}
